$grey: #808080;
$green: #88d8b0;
body {
	margin: 0 auto;
	background-color: #ffeead;
	text-align: center;
	color: $grey;
}
h1 {
	margin-top: 100px;
	padding: 40px;
	font-size: 40px;
}
button {
	height: 30px;
	background-color: $green;
	border-color: $green; 
	color: $grey;
	font-weight: 600;
}
input {
	height: 20px;
}
h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	margin-top: 80px;
	margin-bottom: 0;
	background-color:$green;
	height: 100px;
}
ul {
	text-align: center;
	list-style-type: disc;
	height: 40vh;
	margin-top: 0;
	padding: 0;
	background-color: $green;
	color: white;
}
